VirtualMouse.exe______________________________________________________________________________________________________________________________________________________________________________________________Steps and requirements to use this applicationImportant! - Early access (version - 1.0.0)All you need to do is:-Step 1. --> Extract this VirtualMouse.zip folder in your system.Step 2. --> Install the VirtualMouse.exe application in your system.Step 3. --> Install all the necessary libraries from python's pip.Step 4. --> Enjoy!!!-- Further Updates would be coming soon, this requirements file will be updated as per the upgradation scheme.Author & Founder,Rudraniel Singh(aka. RuntimeRenzo)